/estacionamiento-api/.phpunit.cache
/estacionamiento-api/node_modules
/estacionamiento-api/public/build
/estacionamiento-api/public/hot
/estacionamiento-api/public/storage
/estacionamiento-api/storage/*.key
/estacionamiento-api/vendor
estacionamiento-api/.env
estacionamiento-api/.env.backup
estacionamiento-api/.env.production
estacionamiento-api/.phpunit.result.cache
estacionamiento-api/Homestead.json
estacionamiento-api/Homestead.yaml
estacionamiento-api/auth.json
estacionamiento-api/npm-debug.log
estacionamiento-api/yarn-error.log
/estacionamiento-api/.fleet
/estacionamiento-api/.idea
/estacionamiento-api/.vscode

